SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/yuca?useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=yuca
SPRING_DATASOURCE_PASSWORD=yuca
MARIADB_ROOT_PASSWORD=root
MARIADB_DATABASE=yuca
MARIADB_USER=yuca
MARIADB_PASSWORD=yuca
